body {
	margin: 10px;
	font-family: monospace;
	font-size: 14px;
}

.title {
	text-align: center;
	padding: 10px;
	display: block;
	margin: 0px auto;
}

/* GLOBAL STYLES */

button {
	width: 100px;
	height: 25px;
}

select {
	width: 200px;
	height: 25px;
}

input {
	width: 200px;
	height: 25px;
}

.shadow {
	box-shadow: 2px 2px 4px lightgray;
}

p.error {
	text-align: center;
	color: darkred;
	display: none;
}

.red {
	color: darkred;
}

.info {
	font-size: 12px;
	padding: 2px;
	text-align: center;
	font-style: italic;
}

.col-layout{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}